.product-triggers{
    display: flex;
    align-items: baseline;
    justify-content:flex-start;
    background-color: #E8EDFC;
    max-width: 442px;
    padding: 15px 24px;
}
.product-triggers span{
margin-right: 12px;
}

.modal-link-pdp{
    color: #0079C8;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    text-decoration: underline;
}

.vtex-modal__modal{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
border-radius: 4px;
border-bottom: solid 6px #0079C8;
}

