.productBrand{
  color: #21272A; 
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.productNameContainer {
  text-align: left;
  /*padding-left: 2.2em;*/
}

.containerNormal--default-prod-shelf{
  max-width: 419px !important;
}

.containerNormal :global(.vtex-button) {
    margin: 0 auto;
    background-color: #0079C8!important;
    border: none;
    border-radius: 6px;
    transition: 0.3s;
    text-transform: inherit;
    font-weight: 700;
    font-size: 16px;
    max-width: 192px;
    height: 56px;
    margin-bottom: 30px;
  }

  .containerNormal :global(.vtex-button) :global(.vtex-button__label){
    padding-bottom: 0.5em !important;
    padding-top: 0em !important;
  }

  

  .nameContainer{
      padding-right: 1em;
      justify-content: flex-start;
      padding: 1em 2em 1em 2em;
  }

  .element--default-prod-shelf{
    background-color: white;
   
    padding-top: 0;
  }



  @media (max-width: 1000px) {
    .containerNormal :global(.vtex-button) {
        display: none;
      }
    

}

 



 
 