.title--related--shelf{
    text-align: left;
    color: #0D1846;
    font-weight: 700;
    font-size: 38px;
    justify-content: left;
}

.caretIcon--related--shelf{
    height: 28px;
    width: 28px;
    box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 35%);
    border-radius: 0%;
    background: #fff !important;
    padding: 10px;
}

.arrowRight--related--shelf{
    right: -2em;
}

.arrowLeft--related--shelf{
    left: -2em;
}