.sliderLeftArrow{
    height: 45px;
    width: 46px;
    box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 35%);
    border-radius: 0%;
    background: #fff !important;
    padding: 10px;
}

.sliderRightArrow{
    height: 45px;
    width: 46px;
    box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 35%);
    border-radius: 0%;
    background: #fff !important;
    padding: 10px;
}

.sliderLeftArrow--secondaryCarousel{
    border: 3px solid #A7A8A9;
    border-radius: 100px;
    background-color: transparent !important;
    height: 27px;
    width: 27px;
    box-shadow: none;

}

.sliderLeftArrow--secondaryCarousel::before{
    content:url('/arquivos/triangle-left.svg');
    position: relative;
    left: -2px;
}

.sliderRightArrow--secondaryCarousel{
    border: 3px solid #A7A8A9;
    border-radius: 100px;
    background-color: transparent !important;
    height: 27px;
    width: 27px;
    box-shadow: none;
}

.sliderRightArrow--secondaryCarousel::before{
    content:url('/arquivos/triangle-right.svg');
    position: relative;
    left: 1px;
}



.sliderLeftArrow--carousel-quad, .sliderLeftArrow--banners-home-end-mob{
    border: 1px solid #0079C8;
    background-color: white !important;
    border-radius: 2px;
    height: 38px;
    width: 38px;
    box-shadow: none;
    margin-top: -20px;
    margin-left: -20px;

}

.sliderLeftArrow--carousel-quad:disabled, .sliderRightArrow--carousel-quad:disabled, .sliderRightArrow--banners-home-end-mob:disabled, .sliderLeftArrow--banners-home-end-mob:disabled{
    border: 1px solid #929BA2;

}

.sliderLeftArrow--carousel-quad:disabled::before, .sliderLeftArrow--banners-home-end-mob:disabled::before{
    content:url('/arquivos/trad-arrow-left-muted.svg');
    transform: rotate(360deg);

}

.sliderRightArrow--carousel-quad:disabled::before, .sliderRightArrow--banners-home-end-mob:disabled::before{
    content:url('/arquivos/trad-arrow-left-muted.svg');
    transform: rotate(180deg);
}

.sliderLeftArrow--carousel-quad::before, .sliderLeftArrow--banners-home-end-mob::before{
    content:url('/arquivos/trad-arrow-right.svg');
    transform: rotate(180deg);
    position: relative;
    left: -2px;
}

.sliderRightArrow--carousel-quad, .sliderRightArrow--banners-home-end-mob{
    border: 1px solid #0079C8;
    background-color: white !important;
    border-radius: 2px;
    height: 38px;
    width: 38px;
    box-shadow: none;
    margin-top: -20px;
    margin-right: -6px;
}

.sliderRightArrow--carousel-quad::before, .sliderRightArrow--banners-home-end-mob::before{
    content:url('/arquivos/trad-arrow-right.svg');
    position: relative;
    left: 1px;
}



.slideChildrenContainer--slider-shelf--default, .slideChildrenContainer--cat-rectangle-slider{
    margin-top: 1em;
    margin-bottom: 3em;
}

.slideChildrenContainer--cat-rectangle-slider{
    margin-left: 6px;
    margin-right: 6px;
}

.slideChildrenContainer--cat-rectangle-slider :global(.vtex-store-components-3-x-imageElementLink) :global(.vtex-store-components-3-x-imageElement){
    height: auto !important;
}

.paginationDotsContainer--secondaryCarousel{
    left: -80%;
    bottom: 10%;
}

.paginationDotsContainer--mainCarousel{
    left: -76%;
    bottom: 12%;
}

@media screen and (max-width: 768px) {
    .paginationDotsContainer--secondaryCarousel{
      display: none;
    }
    .sliderLayoutContainer--sellingConditions-mob{
        background-color: #E5F2FA;
    }

    .sliderLayoutContainer--quad-mob{
        margin-bottom: 6em;
    }
    .sliderLayoutContainer--banners-home-end-mob{
        margin-bottom: 3em;
    }

    .sliderLayoutContainer--secondaryCarousel{
        padding-top: 5em;
    }

    .sliderRightArrow--carousel-quad{
        margin-top: 95%;
        margin-right: 8%;
    }

    .sliderLeftArrow--carousel-quad{
        margin-top: 95%;
        margin-left: 68%;
    }
    .sliderRightArrow--banners-home-end-mob{
        margin-top: 74%;
        margin-right: 12%;
    
    }

    .sliderLeftArrow--banners-home-end-mob{
        margin-top: 74%;
        margin-left: 62%;
    }

    .sliderRightArrow--secondaryCarousel{
        margin-bottom: 140%;
        margin-right: 74%;
    }

    .sliderLeftArrow--secondaryCarousel{
        margin-bottom: 140%;
        margin-left: 8%;
    }

}
